body {
  background-color: #444444;
  font-family: "Nunito Sans", sans-serif;
  color: #f2b1ad;
  text-align: center;
  display: table;
  margin-right: auto;
  margin-left: auto;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400&display=swap");

.main {
  position: absolute;
  font-size: 150%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 50%;
}
/* Link styles */
a:link {
  color: white;
  background-color: transparent;
  font-family: "Work Sans", sans-serif;
  text-decoration: underline;
  text-align: center;
}

a:visited {
  color: white;
  background-color: transparent;
  font-family: "Work Sans", sans-serif;
  text-decoration: underline;
  text-align: center;
}

a:hover {
  color: #f2b1ad;
  background-color: transparent;
  text-decoration: underline;
  font-family: "Work Sans", sans-serif;
  text-decoration: underline;
  text-align: center;
}

a:active {
  color: black;
  background-color: transparent;
  font-family: "Work Sans", sans-serif;
  text-decoration: underline;
  text-align: center;
}

/* responsive design */
/* adjust font size for smaller screens */
@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

/* adjust font size for even smaller screens */
@media screen and (max-width: 480px) {
  body {
    font-size: 12px;
  }
}

/* FOOTER */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* background-color: #f2b1ad;*/
  color: white;
  text-align: center;
}
